.side-menu-admin{
    .ui.menu{
        width: 250px !important;
        overflow: hidden;
        padding-top: 4em;
        z-index: 99 !important; //Esto separa el menu del nombre o logo de la parte superior izquierda

        i.icon{ // Con estos estilos mandamos el iciono a la izquierda
            float: initial !important; 
            margin: 0 !important;
            margin-right: 10px !important;
        }
    }

    .content{ // Esto manda el contenido, que en principio esta detras del menu, un poco a la derecha para poder visualizarlo
        position: absolute;
        right: 0px;
        padding: 20px;
        width: calc(100% - 250px);
    }
}